@using MudBlazor
@using Shared.Models
@using Shared.Models.DTO.LocationDTO
@using Shared.Services.IServices
@inject ILocationService _locationService
@inject ISnackbar Snackbar
@inject IJSRuntime _JS

<MudDialog>
    <TitleContent>
        Create Location Form
    </TitleContent>
    <DialogContent>
        <EditForm Model="LocationForDelete" FormName="LocationCreateForm" OnValidSubmit="DeleteLocationConfirm">
            <DataAnnotationsValidator />
            <div class="px-3">
                <div class="py-2 col-12">
                    <label for="Name">Tên vị trí</label>
                    <InputText @bind-Value="LocationForDelete.Name" class="form-control" id="Name" disabled />
                </div>
                <div class="py-2 col-12">
                    <label for="Code">Mã số</label>
                    <InputText @bind-Value="LocationForDelete.Code" class="form-control" id="Code" disabled />
                </div>
                <div class="py-2 col-12">
                    <label for="Description">Mô tả</label>
                    <InputText @bind-Value="LocationForDelete.Description" class="form-control" id="Description" disabled />
                </div>
                <div class="py-2 d-flex gap-3">
                    <label for="Status">Hoạt động</label>
                    <InputCheckbox @bind-Value="LocationForDelete.Status" class="form-check" id="Status" disabled />
                </div>
                <hr />
                <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled">Delete</MudButton>
                <MudButton ButtonType="ButtonType.Button" Color="Color.Error" Variant="Variant.Filled" OnClick="Cancel">Cancel</MudButton>
            </div>
        </EditForm>
    </DialogContent>
</MudDialog>

@code {
    [Parameter]
    public UpdateLocationDTO LocationForDelete { get; set; } = new UpdateLocationDTO();
    [Parameter]
    public EventCallback LoadPage { get; set; }
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }

    public async Task DeleteLocationConfirm()
    {
        var response = await _locationService.DeleteAsync<APIResponse>(LocationForDelete.Id);
        if (response != null && response.IsSuccess)
        {
            LocationForDelete = new UpdateLocationDTO();
            MudDialog.Close();
            Snackbar.Add("Delete Location Successfully", Severity.Success);
            await LoadPage.InvokeAsync();
        }
        else
        {
            Snackbar.Add(response.ErrorMessages.FirstOrDefault(), Severity.Error);
        }
    }
    private void Cancel() => MudDialog.Cancel();
}